<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <title>TheAudionaute.com</title>
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="description" content="Description" />
    <meta name="keywords" content="Keywords" />
    <meta name="author" content="Enlighten Designs" />
    <link rel="stylesheet" type="text/css" href="css/contact.css" />
</head>
<body>
  <div id="page-container">
      <div id="main-nav">
        <ul class="topnav" id="myTopnav">
          <li><a href="home">Home</a></li>
          <li><a href="news">News</a> </li>
          <li><a href="contact">Contact</a></li>
          <li><a href="about">About</a></li>
          <li class="icon">
            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
          </li>
        </ul>
      </div>

    <div id="header">
      <h2> Contact </h2>
    </div>

</div>
</body>
</html>
