<h2 class="page-header">Contact Us</h2>
<p><strong>Victor Landureau</strong></p>
<p><strong>victor.landureau@gmail.com</strong></p>
<p><strong>06.83.64.52.32</strong></p>
<p><strong>Mon linkedIn: <a href='https://fr.linkedin.com/in/victor-landureau-299732105'>Here</a></strong></p>

<h3>Voici ou sont localisés nos locaux ! À Londres !</h3>

<div class="row">
  <div class="col-lg-6">
    <div id="googleMap1" style="width:100%;height:300px;"></div>
  </div>
  <div class="col-lg-6">
    <div id="googleMap2" style="width:100%;height:300px;"></div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div id="googleMap3" style="width:100%;height:300px;"></div>
  </div>
  <div class="col-lg-6">
    <div id="googleMap4" style="width:100%;height:300px;"></div>
  </div>
</div>

<script>
function myMap() {
  var mapOptions1 = {
    center: new google.maps.LatLng(51.508742,-0.120850),
    zoom:9,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var mapOptions2 = {
    center: new google.maps.LatLng(51.508742,-0.120850),
    zoom:9,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  };
  var mapOptions3 = {
    center: new google.maps.LatLng(51.508742,-0.120850),
    zoom:9,
    mapTypeId: google.maps.MapTypeId.HYBRID
  };
  var mapOptions4 = {
    center: new google.maps.LatLng(51.508742,-0.120850),
    zoom:9,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };
  var map1 = new google.maps.Map(document.getElementById("googleMap1"),mapOptions1);
  var map2 = new google.maps.Map(document.getElementById("googleMap2"),mapOptions2);
  var map3 = new google.maps.Map(document.getElementById("googleMap3"),mapOptions3);
  var map4 = new google.maps.Map(document.getElementById("googleMap4"),mapOptions4);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
