<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <title>TheAudionaute.com</title>
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="description" content="Description" />
    <meta name="keywords" content="Keywords" />
    <meta name="author" content="Enlighten Designs" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
</head>
<body>
  <div id="page-container">
      <div id="main-nav">
        <ul class="topnav" id="myTopnav">
          <li><a href="#home">Home</a></li>
          <li><a href="news.html#news">News</a> </li>
          <li><a href="#new-year">New-Year</a></li>
          <li><a href="#home-made">Home-made</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#about">About</a></li>
          <li class="icon">
            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
          </li>
        </ul>
      </div>

    <div id="header">
      <h2> Welcome Les Audionautes! </h2>
    </div>

    <div id="content">
      <h2> Welcome Les Audionautes! </h2>
      <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <img src="images/img_nature_wide.jpg" style="width:100%">
        <div class="text">Caption One</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <img src="images/img_fjords_wide.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <img src="images/img_mountains_wide.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      </div>
      <br>

      <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>

      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

      <script>
      var slideIndex = 0;
      showSlides();

      function showSlides() {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
             slides[i].style.display = "none";
          }
          slideIndex++;
          if (slideIndex> slides.length) {slideIndex = 1}
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 5000); // Change image every 2 seconds
      }
      </script>

    <div id="footer">
      <h1> Venez découvrir les nouvelles perles !<p>Dédicace à tout les potos !</p></h1>
    </div>

</div>
</body>
</html>
